/* START OF PART 1 CODE */

@keyframes fadeImageOut {

    100% {filter: opacity(0%);}

}

@keyframes slideImageRight {
    100% {background-position: center;}
}

.HorizontalBanner {
    border: black, 1px;
    /* Having margin-left/right: auto centers the div */
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 400px;
}

.BannerText {
    position: absolute;
}

#HorizontalFirstImage {
    
    background-image: url(man-facing-buildings.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: local;

    /* DO I need this? */
    display: block;

    animation-name: fadeImageOut, slideImageRight;
    animation-duration: 5s, 1s;
    animation-delay: 3s, 1s;
    /* Prevents animation from resetting to initial state */
    animation-fill-mode: forwards;
}


@keyframes scrollImageUp {
    100% {background-position: center top ;}
}

#HorizontalSecondImage {

    background-image: url(piha-beach.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: local;

    display: block;

    animation-name: scrollImageUp;
    animation-duration: 6s;
    animation-delay: 6s;

    animation-fill-mode: forwards;
}

@keyframes fadeTextIn {

    100% {opacity: 1;}
}

@keyframes slideTextLeft
{
    100% {transform: translateX(20px);}
}

#Name {
    color: mediumspringgreen;
    position: absolute;
    top: 10px;
    left: 600px;
    border: 1px black;
    display: block;
    /* Don't want text visible until animation plays */
    opacity: 0;
    
    animation-name: slideTextLeft, fadeTextIn;
    animation-delay: 11s;
    animation-duration: 2s;

    animation-fill-mode: forwards;

}

@keyframes slideTextRight 
{
    100% {transform: translateX(-20px);}
}


#ID {
    color: mediumspringgreen;
    position: absolute;
    top: 10px;
    right: 600px;
    border: 1px black;
    display: block;
    opacity: 0;

    animation-name: slideTextRight, fadeTextIn;
    animation-delay: 11s;
    animation-duration: 2s;

    animation-fill-mode: forwards;
}

@keyframes changeSizeTwice {
    0% {transform: scale(1.5, 1.5);}
    25% {transform: scale(1, 1);}
    50%, 100% {transform: scale(0.5, 0.5);}

}

@keyframes fadeTwice {
    40% {opacity: 1;}
    60%, 100% {opacity: 0;}
}

#HorizontalFirstText {
    color: mediumspringgreen;
    position: absolute;
    top: 30px;
    left: 750px;
    border: 1px black;
    opacity: 0;

    animation-name: fadeTwice, changeSizeTwice;
    animation-duration: 6s;
    animation-iteration-count: 2;

    animation-fill-mode: forwards;
}

@keyframes loopLimeColour {
    50% {color: mediumspringgreen;}
}

#HorizontalSecondText {
    position: absolute;
    top: 60px;
    left: 760px;
    border: 1px black;
    color: mediumvioletred;
    opacity: 0;

    animation-name: fadeTextIn, loopLimeColour;
    animation-delay: 6s;
    animation-duration: 3s, 3s;
    animation-iteration-count: 1, infinite;

    animation-fill-mode: forwards;
}

/*
Images were obtained from: http://www.piha.co.nz/
Author: UNKNOWN
Date: UNKNOWN

fadeTextIn referenced from: https://stackoverflow.com/questions/8449933/animation-css3-display-opacity
Author: Chris
Date: 19 June 2013

changeSizeTwice and fadeTwice referenced from: https://css-tricks.com/css-keyframe-animation-delay-iterations/
Author: Chris Coyier
Date: 20 July 2016
*/


/* END OF PART 1 CODE */

/* START OF PART 2 CODE */

/* The main element of Part 2, manipulates the image */
.VerticalBanner {
    width: 220px;
    height: 450px;
    border: black, 1px;
    float: right;
    
}


@keyframes fadeOutQuickly {
    100% {opacity: 0;}
}

#BlackCover {
    width: inherit;
    height: inherit;
    border: 1px black;
    background-color: black;
    
    animation-name: fadeOutQuickly;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/*
BIG NOTE: DO NOT USE % WHEN ANIMATING background
It forces the animation to appear snappy
Big cause of my headache for Part 2...
*/
#VerticalImage {
    width: 220px;
    height: 450px;
    border: 1px black;
    background-image: url('tesla-vehicle.jpg');
    background-size: 1000px 800px;
    background-position: -100px -100px;
    background-repeat: no-repeat;


    animation-name: resize, moveRight, resizeAndCentre, resizeToFinal;
    animation-duration: 1s, 1s, 1s, 2s;
    animation-delay: 1s, 4.5s, 7s, 10s;
    animation-timing-function: ease-in-out, ease-in-out, ease-in, ease-in ;

    animation-fill-mode: forwards;
    
}

@keyframes resize {
    100% {background-size: 800px 700px;}
}

@keyframes moveRight {
    100% {background-position-x: -350px;}
}

@keyframes resizeAndCentre {
    100% {
        
        background-position: -180px, -30px;
        background-size: 700px 600px;
        
    }
}

@keyframes resizeToFinal {
    100% {background-size: 600px 500px;}
}

aside {
    float: right;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 10px;
}

#TextBox {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 250px;
    right: 18px;
}

#LeftHalf {
    float: left;
}

#VerticalFirstText {
    left: 100%;
    opacity: 0;

    float: left;
    text-align: right;

    animation-name: slideLeftView, slideRightAway, slideRightIntoView, slideLeftAndFadeOut;
    animation-delay: 2s, 4.5s, 9s;
    animation-duration: 1s, 1s;
    animation-fill-mode: forwards;
}

@keyframes slideLeftView {

    100% {
        
        transform: translateX(-10px);
        opacity: 1;
    }
}

@keyframes slideRightAway {

    100% {transform: translate(-120px);}
}

@keyframes slideRightIntoView {
    100% {transform: translateX(0px) ;}
}

#VerticalSecondText {
    float: right;
    text-align: left;
}

#VerticalThirdText {
    
    text-align: center;
}

.VerticalText {
    font-family: Verdana, Tahoma, sans-serif;
    color: dimgray;
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}

#ToyotaLogo {
    width: 60px;
    height: 50px;
    border: 1px black;

    top: 630px;
    right: 160px;
    background-image: url(toyota-logo-white.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    position: absolute;
}

#HiluxLogo {
    width: 80px;
    height: 30px;
    border: 1px black;

    top: 635px;
    right: 10px;
    background-image: url(hilux-logo.png);
    background-repeat: no-repeat;
    background-size: 80px 30px;
    position: absolute;
}
/* The element used to hold the texts that appear */

/*
Tesla vehicle image obtained from: https://www.autoevolution.com/cars/tesla-motors-roadster-2018.html#aeng_tesla-motors-roadster-2018-568-kw-awd-772-hp
Author: TESLA MOTORS
Date: UNKNOWN

aside reference from: https://www.w3schools.com/html/html5_semantic_elements.asp
Author: UNKNOWN
Date: UNKNOWN

VerticalImage referenced from: https://www.w3schools.com/csSref/tryit.asp?filename=trycss_anim_background-size
Author: UNKNOWN
Date: UNKNOWN

Toyota Logo image obtained from: https://www.pngitem.com/so/toyota-logo/
Author: Arzu Aslanov?
Date: UNKNOWN

Hilux Logo image obtained from: https://toyotayemen.com/en/commercial/hilux
Author: UNKNOWN
DATE: UNKNOWN
*/


/* END OF PART 2 CODE */
